.container {
  display: grid;
  grid-template-columns: 13% 87%;
  height: 100%;
  .sidenav {
    border: 0.5px solid #0000001f;
  }
  .content {
    border: 0.5px solid #0000001f;
    border-left: none;
  }
}
