.content {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  .day {
    box-sizing: border-box;
    border: 1px solid #0000001f;
  }
  .day:nth-child(1){
    border-left: 0;      
    border-top: 0;      
  }
  .day + .day {
    border-left: 0;
    border-top: 0;
  }
}
